<section id="contact">
	<div class="container pad-top-half pad-bottom-half contact">
 		<div class="row">
 			<div class=" col-md-5 col-sm-12">
 				<h2 class="black">Say hello.</h2>
 			</div>
			<div class="col-md-5 col-md-offset-2 col-sm-12">
				<h5 class="black">bikeberlin@bikeberlin.com<br>Trendystreet, Berlin, Germany<br>+123 456 789</h5>
			</div>
		</div>
	</div>
	
	<%= flash[:notice] %>


	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-12">
				<h3 id="contact-note"> If you have any inquiries or issues please do not hesitate to contact us.</h3>
			</div>

			<%= form_tag("/static_pages/thank_you") do %>
			<div class="col-md-5 col-md-offset-2 col-sm-12" id="inner-form">
				<div class="form-group">
					<%= label_tag :name, "Name" %>
					<%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
				</div>
				<div class="form-group">
					<%= label_tag :email, "Email Address" %>
					<%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
				</div>

				<div class="form-group">
					<%= label_tag :message %>
					<%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
				</div>

				<div class="actions">
        	<%= submit_tag "Send" %>
      	</div>

			</div>
			<% end %>
		</div><!--end row-->
	</div>
</section>












	<!--<div class="container pad-sides lightgrey-bg">
		<div class="row title-section">
			<div class="col-md-12 pad">
				<form>
					<article>
						<input type="text" placeholder="Your Name" name="name" id="name">
					</article>
					<article>
						<input type="text" placeholder="Your Email" id="email">
					</article>
					<article>
						<textarea placeholder="Your Message" name="message" id="message" rows="6"></textarea>
						<div class="text-left">
							<button class="btn btn-sendmsg" id="submit" name="submit" type="submit">Send Message</button>
						</div>
					</article>
				</form>
			</div>
		</div>
	</div>-->
			
</section>

