<p id="notice"><%= notice %></p>
<section id="prod-show">
  <div class="container pad-top-half pad-bottom-half prod-show">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <h2>Product Info</h2>
      </div>
      <div class="col-md-5 col-md-offset-2 col-sm-12">
        <h5 class="">Here you can find more detailed info about the bike.</h5>
      </div>
    </div>
  </div>

  <div class="container white-bg pad-top-half pad-bottom-quarter">
		<div class="row bikes">
      <% cache @product do %>
  			<div class="col-md-7 col-sm-12 prod-info">
  				<%= image_tag("#{@product.image_url}", class: "img-responsive img-zoom", data_zoom_image: "#{@product.image_url}") %>
  			</div>
  			<div class="col-md-5 col-sm-12 bike-text">
  				<h3 id="prod-title"><%= @product.name %></h3>
          <hr class="style3">
          <p>Average Rating: <div class="rated" id="average-rating"
          data-score="<%= @product.average_rating %>"></div></p>
          <hr class="style2">
          <p><strong><%= @product.description %></strong></p>
          <hr class="style2">
          <p><%= @product.colour %></p>       
          <hr class="style1">
  			</div>
        <div class="prod-price-container">
          <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
          <%= @product.price %>
          <%= form_tag "/payments/create" do %>
            <%= render partial: "shared/stripe_checkout_button" %>
            <%= hidden_field_tag(:product_id, @product.id) %>
          <% end %>
        </div>
      <% end %>

      <div class="user-comments col-md-7 col-sm-12">
      <%= render "new_comment" %>
        <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
        <%= render "comments" %>
      </div> 
    </div>
	</div>

	<div class="container pad-top-half pad-bottom-half">
    <div class="btn second-btn">
      <a><%= link_to 'Back', products_path %></a>
    </div>
  </div>
</section>
